.project {
  padding: 2em;
  margin: 0;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.project:hover {
  transform: translateY(-8px);
  box-shadow: rgba(90, 159, 184, 0.25) 0px 12px 35px 0px;
}

.project__image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  margin-bottom: 1em;
  border-radius: 4px;
  display: block;
}

.project__description {
  margin-top: 1em;
  flex-grow: 1;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
  flex-grow: 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: auto;
  padding-top: 1em;
}

.project__links .link--icon {
  margin: 0;
}
